<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> calculator App</h1>
    <a href="{%url 'addition'%}">Addition</a>
    <a href="{%url 'substraction'%}">Substraction</a>
    <a href="{%url 'cube'%}">Cube</a>
    <a href="{%url 'multiplication'%}">multiplication</a>
    <a href="{%url 'division'%}">division</a>
    <a href="{%url 'factorial'%}">factorial</a>
    
</body>
</html>