<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <h1>substration</h1>
    
    <form action="" method="post" enctype="">
        {%csrf_token%}
    <!-- <input type="text" placeholder="enter num1" name="num1" class="form-control">
    <input type="text" placeholder="enter num2" name="num2" class="form-control"> -->

        {{form.as_p}}
        <button type="submit">sub</button>
    </form>
    {{result}}
</body>
</html>